<%= stylesheet_link_tag 'teaser' %>
<script type="text/JavaScript">
  <!--
  setTimeout("location.href = 'http://blog.wanbok.com';",10000);
  -->
</script>

<div class="info">
  <p>
    This page will be redirected to <a href="http://blog.wanbok.com/">http://blog.wanbok.com</a> in 10 seconds.
  </p>
  <p>
    이 페이지는 <a href="http://blog.wanbok.com/">http://blog.wanbok.com</a> 로 10초 이후에 이동됩니다.
  </p>
</div>

<table border="0" class="teaser" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td>[</td>
      <td colspan="4" align="center">
        <a href="https://www.facebook.com/wanbok">
          It's me
        </a>
      </td>
      <td align="right">]</td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td>[</td>
      <td colspan="2" align="center">
        <a href="https://twitter.com/wanbok">
          Follow me
        </a>
        &nbsp;
      </td>
      <td align="right">]</td>
      <td colspan="2"></td>
    </tr>
    <tr class="main">
      <td><h1>c</h1></td>
      <td><h1>hoi</h1></td>
      <td><h1>@</h1></td>
      <td><h1>w</h1></td>
      <td><h1>anbo</h1></td>
      <td><h1>k</h1></td>
      <td><h1>.co</h1></td>
      <td><h1>m</h1></td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td>[</td>
      <td colspan="3" align="center">
        <a href="http://blog.wanbok.com/">
          Blog
        </a>
      </td>
      <td align="right">]</td>
    </tr>
    <tr>
      <td>[</td>
      <td colspan="6" align="center">
        <a href="mailto://choi@wanbok.com">
          E-mail
        </a>
      </td>
      <td align="right">]</td>
    </tr>
  </tbody></table>
