<%= stylesheet_link_tag 'teaser' %>

<table border="0" class="teaser" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>[</td>
<td colspan="4" align="center">It's me</td>
<td align="right">]</td>
<td colspan="2"></td>
</tr>
<tr>
<td colspan="2"></td>
<td>[</td>
<td colspan="2" align="center">Follow me&nbsp;</td>
<td align="right">]</td>
<td colspan="2"></td>
</tr>
<tr class="main">
<td><h1>c</h1></td>
<td><h1>hoi</h1></td>
<td><h1>@</h1></td>
<td><h1>w</h1></td>
<td><h1>anbo</h1></td>
<td><h1>k</h1></td>
<td><h1>.co</h1></td>
<td><h1>m</h1></td>
</tr>
<tr>
<td colspan="3"></td>
<td>[</td>
<td colspan="3" align="center">Here</td>
<td align="right">]</td>
</tr>
<tr>
<td>[</td>
<td colspan="6" align="center">E-mail</td>
<td align="right">]</td>
</tr>
</tbody></table>
