.teaser {
	position: absolute;
	top: 40%;
	left: 50%;
	width: 260px;
	margin-top: -100px;
	margin-left: -150px;
	display: inline-block;
}

.teaser tr {
	height: 40px;
	color: #AAA;
}

.teaser tr.main {
	color: #000;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}
